*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1.1em;
	background-color: #000;	
	font-family: helvetica, sans-serif;
	font-weight: 100;
	color: white;
}

.container{
	width:733px;
	height: 628px;
	margin: 20px auto;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	position: relative;
}

h1{
	display: none;
}

.footer{
	width:733px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	
}

h2{
	font-family: "museo-sans-1","museo-sans-2";
	font-size: 1em;
	font-weight: 100;
	text-align: center;
	bottom: 0px;
	
}

/* Navigation */
ul.nav{
	font-family: "museo-sans-1","museo-sans-2";
	float: right;
	margin: 0px 40px 0 0;
	font-weight: 100;
}

ul.nav li{
	float: left;
	list-style-type: none;
}

ul.nav li a{
	padding: 5px;
	text-decoration: none;
	color: white;
}

ul.nav li a:hover{
	color: #e6cf8a;
}
