body{
  font-family: "raleway-1","raleway-2", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight:normal;
  color: #FFF;
  background-color: black;
  font-size: 2em;
  margin: 0;
}

#container{
  width: 800px;
  height: 700px;
  margin: auto auto;
  background-image:url('background.jpg');
  background-repeat:no-repeat;
  background-position: top center;
}

a.button{
  border: 0;
  padding:0;
  margin: 0;
  overflow: hidden;
  position: right;
  height:18px;
  
}

a.button span {
	cursor: pointer;
	display:block;
	position:absolute;
	top:0;
	left:0px;
	width:147px;
	height:52px;
}

}

a.external:link {color:#FFF; text-decoration: none;}    /* unvisited link */
a.external:visited {color:#FFF; text-decoration: none;} /* visited link */
a.external:hover {color:#DDD; text-decoration: none;}   /* mouse over link */
a.external:active {color:#FFF; text-decoration: none;}  /* selected link */

a.work span { no-repeat top right; }
a.words span {  no-repeat top right; }
a.tweet span {  no-repeat top right; }
a.email span {  no-repeat top right; }


h1 {
  letter-spacing:4px;
  font-weight: normal;
  font-size:2.5em;
  line-height:1em;
  position: absolute;
  top: 440px;
  width: 650px;
  margin-left: 30px;
  display:none;
}

h1 span.minus{
  float:left;
}

h1 span.thirty{
  float:right;
}
